<ion-navbar *navbar primary>
    <ion-title>
        通知
    </ion-title>
    <ion-buttons end>
        <button (click)="readAll()">
            <ion-icon name="done-all"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content class="notify">
    <ion-refresher (refresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item *ngIf="!notifications">暂无任何通知消息</ion-item>
        <ion-list-header *ngIf="notifications">开播通知</ion-list-header>
        <ion-item-sliding *ngFor="#notification of notifications">
            <ion-item>
                <ion-thumbnail item-left>
                    <img [src]="notification.avatar">
                </ion-thumbnail>
                <h2>{{notification.nickname}}</h2>
                <p>{{notification.title}}</p>
                <p>Start at {{notification.notified_at | amTimeAgo}}~</p>
            </ion-item>
            <ion-item-options>
                <button primary>
                    <ion-icon name="text"></ion-icon>
                    Text
                </button>
                <button secondary>
                    <ion-icon name="call"></ion-icon>
                    Call
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
