<ion-navbar *navbar primary>
    <ion-title>添加主播</ion-title>
</ion-navbar>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label>直播平台</ion-label>
            <ion-select [(ngModel)]="plat">
                <ion-option value="DOUYU">斗鱼</ion-option>
                <ion-option value="PANDA">熊猫</ion-option>
                <ion-option value="ZHANQI">战旗</ion-option>
                <ion-option value="QUANMIN">全民</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating>房间号</ion-label>
            <ion-input type="text" [(ngModel)]="room"></ion-input>
        </ion-item>
    </ion-list>
    <button royal *ngIf="!result" block (click)="getResult()">
        <ion-icon name="add"></ion-icon>
        添加
    </button>
    <ion-card *ngIf="addFailed">
        <ion-card-content>
            QAQ 木有找到您要找的主播...
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="result">
        <ion-card-content>
            <ion-item>
                <ion-avatar item-left>
                    <img [src]="result.avatar">
                </ion-avatar>
                <h2 style="margin-top: 0;">Mr.wang</h2>
                <p>{{result.title}}</p>
            </ion-item>
            <img [src]="result.cover">
            <ion-item>
                <button clear item-left>
                    <ion-icon name="play"></ion-icon>
                    <div>观看</div>
                </button>
                <button clear item-left>
                    <ion-icon name="add-circle"></ion-icon>
                    <div>关注</div>
                </button>
                <ion-note item-right>
                    <span *ngIf="!result.is_live">休息</span>
                    <span *ngIf="result.is_live">在线</span>
                </ion-note>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>