<ion-navbar *navbar primary>
    <ion-title>添加主播</ion-title>
</ion-navbar>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>直播平台</ion-label>
            <ion-select [(ngModel)]="plat">
                <ion-option value="DOUYU">斗鱼</ion-option>
                <ion-option value="PANDA">熊猫</ion-option>
                <ion-option value="ZHANQI">战旗</ion-option>
                <ion-option value="QUANMIN">全民</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating>房间号</ion-label>
            <ion-input type="text" [(ngModel)]="room"></ion-input>
        </ion-item>
    </ion-list>
    <button royal full *ngIf="!result">
        <ion-icon name="search"></ion-icon>
        Search
    </button>
    <ion-loading *ngif="loading"></ion-loading>
    <ion-card *ngIf="result">
        <ion-card-header>
            搜索结果
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>
    <button royal full *ngIf="result">
        <ion-icon name="add"></ion-icon>
        Add
    </button>
</ion-content>