.home {
  ion-fixed {
    position: fixed;
    right: 0;
    bottom: 0;
  }
}
.ion-md-remove-circle {
  color: #ED4248;
}
.ion-md-play {
  color: #508AE4;
}
.ion-md-share {
  color: #31D55F;
}
.ion-md-close {
  color: #757575;
}